html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  height: 100%;
}

.left-panel {
  flex: 1;
  width: 25%;
  background-color: #5e5959;
  padding: 20px;
  overflow: auto; 
}

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  margin-right: 20px;
}

.contact-info {
  margin-bottom: 20px;
}

.right-panel {
  flex: 3;
  width: 75%;
  background-color: #b9b8f5; 
  display: flex;
  flex-direction: column; 
  overflow: auto; 
}


.right-panel > div {
  margin-bottom: 20px;
}
